{% extends 'base.html' %}
{% load bootstrap5 %}
{% load markdown_deux_tags %}

{% block content %}
<nav id="navbar-example2" class="navbar px-3 mb-3">
    <a class="navbar-brand" href="#">{{article.title}}</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <span class="nav-link text-dark">{{article.username}}</span>
      </li>
      <li class="nav-item">
        <span class="nav-link text-dark">{{article.release_date}}</span>
      </li>
      <li class="nav-item">
        <span class="nav-link text-dark">조회 수 : {{article.visited}}</span>
      </li>
    </ul>
</nav>
<div data-bs-spy="scroll" class="scrollspy-example bg-light p-3 rounded-2 my-3" tabindex="0">
  <div>{{article.content|markdown|linebreaks}}</div>
</div>
<h2 class='my-5'>댓글</h2>
{% for comment_article in comment_articles %}
{% if request.user.username == comment_article.username %}
<a href="{% url 'articles:comment_delete' comment_article.id %}">delete</a>
{% endif %}
<nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
  <pre>
    {{comment_article.comment|markdown|linebreaks}}
    <a href="{% url 'articles:comment_2' comment_article.id %}" class='text-decoration-none text-black'>댓글달기</a>
  </pre>
  <ul class="nav nav-pills">
    <li class="nav-item mx-5">
      {{comment_article.username}}
    </li>
    <li class="nav-item mx-5">
      {{comment_article.create_at}}
    </li>
  </ul>
</nav>
{% endfor %}
{% if request.user.is_authenticated %}
<form action="{% url 'articles:detail' article.id %}" method="POST" class="form">
  {% csrf_token %}
  {% bootstrap_form comment_form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
{% endif %}
{% endblock content %}