{% extends 'base.html' %}

{% block login_content %}
{% if request.user.is_authenticated %}
<div>
    <h1>{{request.user.username}}</h1>
</div>
<a href="#">회원정보확인</a>
<a href= "{% url 'accounts:logout' %}">로그 아웃</a>
{% else %} 
<a href="{% url 'accounts:login' %}">로그인하기</a>
{% endif %}
{% endblock login_content %}

{% block level %}
<div><b>Bakjoon Level : 1</b></div>
<div class="progress my-2" style='height: 30px;'>
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div><b>SWEA Level : 1</b></div>
<div class="progress my-2" style='height: 30px;'>
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
<div><b>Programmers Level : 1</b></div>
<div class="progress my-2" style='height: 30px;'>
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>
{% endblock level %}

{% block content %}
<h1>자유게시판</h1>
<ul class="list-group">
    {% for article in articles %}
    <a href="{% url 'articles:detail' article.id %}" class='text-decoration-none'>
    <li class="list-group-item list-group-item-action">
    <div class="container text-center">
        <div class="row">
            <div class="col-8 text-start">{{article.title}}</div>
            <div class="col-2">{{article.username}}</div>
            <div class="col-2">{{article.release_date}}</div>
        </div>
    </div>
    </li>
    </a>
    {% endfor %}
  </ul>
{% endblock content %}