{% extends 'base.html' %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h1>자유게시판</h1>
      <span class="badge badge-primary badge-pill mx-5"><a href="{% url 'articles:create' %}">CREATE</a></span>
    </li>
  </ul>

<ul class="list-group">
    {% for article in articles %}
    {% if request.user.is_superuser %}
    <a href="{% url 'articles:delete' article.id %}"> delete </a>
    {% endif %}
    <a href="{% url 'articles:detail' article.id %}" class='text-decoration-none'>
    <li class="list-group-item list-group-item-action">
    <div class="container text-center">
        <div class="row">
            <div class="col-6 text-start">{{article.title}}</div>
            <div class="col-2">{{article.username}}</div>
            <div class="col-2">{{article.variety}}</div>
            <div class="col-2">{{article.release_date}}</div>
        </div>
    </div>
    </li>
    </a>
    {% endfor %}
  </ul>
{% endblock content %}