<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Info</h1>
    <form action='/pages/joinmembership/' method = 'GET'>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name='name' placeholder='아이디를 입력하세요'>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name='password' placeholder='비밀번호를 입력하세요'>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">age</label>
            <input type="type" class="form-control" id="age" name='age' placeholder='나이를 적으세요'>
          </div>
        <div class="mb-3">
          <label for="e-mail" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="e-mail" name='email' placeholder='이메일을 입력하세요'>
        </div>
        <div class="mb-3">
          <label for="grade" class="form-label">grade</label>
          <input type="type" class="form-control" id="grade" name='grade' placeholder='등급을 적으세요'>
        </div>
        <div class="mb-3">
          <label for="telephone" class="form-label">telephone</label>
          <input type="type" class="form-control" id="telephone" name='telephone' placeholder='전화번호를 적으세요'>
        </div>
        <div class="mb-3">
          <label for="descript" class="form-label">description</label>
          <input type="type" class="form-control" id="descript" name='descript' placeholder='본인을 설명하세요'>
        </div>
        <button type="submit" class="btn btn-primary">가입완료</button>
    </form>
</body>
</html>